/* цвет текста заголовков #212121 */
/* цвет основного текста rgba(117, 117, 117, 1) */
/* цвет акцента и первой части лого в шапке и подвале #2196F3 */
/* цвет второй части лого в шапке #000000 */
/* цвет второй части лого в подвале и текста в герое #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет фона героя #2F303A */

:root {
  --primery-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accennt-color: #2196f3;
  --background-color: #2f303a;
  --command-bg-color: #f5f4fa;
  --primery-bg-color: #ffffff;
  --button-color: #188ce8;
  --header-list-color: #757575;
  --address-list-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --border-hed-color: #ececec;
  --box-shadow-one: rgba(0, 0, 0, 0.12);
  --box-shadow-two: rgba(0, 0, 0, 0.14);
  --box-shadow-three: rgba(0, 0, 0, 0.2);
}

p,h1,h2,h3,h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

body {
  color: var(--primery-text-color);
  background-color: var(--primery-bg-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

/*            header            */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.header {
  background-color: var(--primery-bg-color);
  border-bottom: 1px solid var(--border-hed-color)
}

.main-list {
  display: flex;
}

.header-list {
  display: flex;
}

.header-contacts {
  display: flex;
}
.header-contacts .header-item + .header-item {
  margin-left: 50px;
}
.header-list .header-item + .header-item {
  margin-left: 50px;
}

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 43px;
  color: var(--accennt-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-black {
  color: var(--title-text-color);
}

.link.current,
.header-list .link:hover,
.header-list .link:focus {
  color: var(--accennt-color);
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.container-contacts {
  margin-left: auto;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accennt-color);
}

.header-mail,
.header-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-list-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*                     hero                  */
.hero {
  background-color: var(--background-color);
}
.hero-container {
  max-width: 696px;
  margin: auto;
  margin-right: auto;
  padding: 200px 0;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primery-bg-color);
  background-color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: flex;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--primery-bg-color);
  background-color: var(--accennt-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;  
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-color);
}

/*                  benefits                  */
.visually-hidden {
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--primery-bg-color);
}
.benefits-list {
  display: flex;
  justify-content: space-between;
}
.benefits-list .benefits-item + .benefits-item {
  margin-left: 30px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-text {
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--header-list-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*               worktipes                */
.worktypes {
  background-color: var(--primery-bg-color);
}
.worktypes-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.worktypes-list {
  display: flex;
}

.worktypes-list .worktypes-item + .worktypes-item {
  margin-left: 30px;
}

.photo {
  background-color: var(--primery-bg-color);
  display: block;
  max-width: 100%, 
  height: auto
}

/*                      command                  */
.command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--command-bg-color);
}
.command-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-text {
  margin: 0;
  color: var(--header-list-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-list {
  display: flex;
  justify-content: space-between;
}
.command-list .command-item + .command-item {
  margin-left: 30px;
}
.command-item {
  box-shadow: 0px 1px 3px var(--box-shadow-one), 0px 1px 1px var(--box-shadow-two), 0px 2px 1px var(--box-shadow-three);
  border-radius: 0px 0px 4px 4px;
}
.command-photo {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*               footer                 */
.footer {
  color: var(--primery-bg-color);
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer-logo {
  color: var(--accennt-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer span {
  color: var(--primery-bg-color);
}

.white {
  color: var(--primery-bg-color);
}
.address {
  font-family: "Roboto";
  font-style: normal;
}
.address-text {
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--primery-bg-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accennt-color);
}
.address-item:first-child {
  margin-top: 0;
  margin-bottom: 9px;
}
.address-mail {
  color: var(--address-list-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-tel {
  color: var(--address-list-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.logo {
  margin-top: 0;
  margin-bottom: 20px;
}

/*               portfolio               */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfoliobutton:hover,
.portfoliobutton:focus {
  color: var(--primery-bg-color);
  background-color: var(--accennt-color);
}
.portfoliobutton-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.portfoliobutton-list .portfoliobutton-item + .portfoliobutton-item {
  margin-left: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-title {
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  margin: 0;
  color: var(--header-list-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfoliobutton {
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--command-bg-color);
  border: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.current-button {
  color: var(--primery-bg-color);
  background-color: var(--accennt-color);
}
.portfolio-bottom {
padding: 20px 24px;
border: 1px solid var(--border-color);
}
